.tags {
  font-weight: 300;
  font-size: 13px;
  color: #8d8d8d;
  line-height: 17px;
}

.tags__title {
  display: inline-block;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: #d6d6d6 solid 1px;
  margin-bottom: 7px;
}

.tags__block a {
  display: inline-block;
  position: relative;
  color: #050505;
  padding: 2.5px 15px;
  border: transparent solid 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 1px 1px 1px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tags__block a:hover {
  color: #7a7a7a;
  border-color: #c2c2c2;
}

.tags__block a:before,
.tags__block a:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -6px;
  height: 12px;
  width: 1px;
  background: #fff;
}

.tags__block a:before {
  left: -1px;
}

.tags__block a:after {
  right: -1px;
}

a.tags__more {
  display: none;
}

@media (max-width: 767px) {
  .module-pagination div.nums span, 
  .module-pagination div.nums > a {
    margin-bottom: 23px;
  }
  
  .tags__title {
    display: block;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border-bottom: none;
    padding: 0;
    margin-bottom: 11px;
  }
  
  .tags__block {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
  }
  
  .tags__block_more .tags__block {
    padding: 0;
  }
  
  .tags__block_more {
    display: none;
  }
  
  .tags__block a {
    width: 50%;
    box-sizing: border-box;
    margin: 6px 0;
    padding: 2.5px 0;
  }
  .tags__block a:nth-child(2n)
  {
	  
  }
  .tags__block a:hover {
    border-color: transparent;
  }
  
  .tags__block a.tags__more {
    display: block;
    width: 100%;
    text-align: center;
    margin: 17px 0 0;
  }
  
  .tags__text {
    color: #050505;
    border-bottom: #797979 dotted 1px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .tags__text:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -12px;
    width: 7px;
    height: 4px;
    margin-top: -2px;
    background: url(/images/tags__more.png) no-repeat center center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .tags__more.active .tags__text:after {
    transform: rotate(180deg);
  }
}

@media (max-width: 374px) {
  .tags__block {
    padding: 0;
  }
  
  /*.tags__block a:nth-child(even) {
    text-align: right;
  }*/
}